<!DOCTYPE html>

<html>
{% load static %}

<head>
    <title>
        Student Tracking System Login
    </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'StudentTrackingSystemApp/main.css' %}">
    <link rel="stylesheet" href="{% static 'StudentTrackingSystemApp/homepage.css' %}">
</head>

<body>
    <h1>Homepage</h1>
    <div class='file_upload_container'>
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            <input type="file" name="input_files" class="input_files" accept=".txt" multiple>
            <button type="submit">Upload</button>
        </form>
    </div>
    <div class="nav_button_container">
        <a href="{% url 'student_data' %}" style="text-decoration:none">
            <button class="nav_button">Student Data</button>
        </a>
        <a href="{% url 'enrolment_data' %}" style="text-decoration:none">
            <button class="nav_button">Enrollment Data</button>
        </a>
        <a href="{% url 'course_data' %}" style="text-decoration:none">
            <button class="nav_button">Course Data</button>
        </a>
    </div>
</body>

</html>