<!DOCTYPE html>
<html>
    <head>
        <title>
             Student Tracking System Login
        </title>
        <meta charset="UTF-8">
        <link href="main.css" rel="stylesheet">
    </head>

    <body>
        <h1>
            Login
        </h1>
       <form method="POST">
            {% csrf_token %} <!-- Not sure what this is but it is appearing on the form-->
            <div class="container">
                <input type="email" placeholder="Email" name="email" required>
                <input type="password" placeholder="Password" name="password" required>
                <button type="submit">Login</button>
            </div>
       </form>

       <div class="links">
            <span class="accnt"> 
                <a href= "createAccount.html" style="color: white;"> Registration </a>
            </span>
        </div>
    </body>


</html>