* {
  padding: 0px;
  margin: 0px;
}

.container-dashboard {
  display: flex;
  flex-direction: column;
}

.container-header {
  display: flex;
  align-items: center;
  padding: 20px;
  flex-direction: row;
}

.title {
  margin: 0 20px;
  padding: 0;
}

.container-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.column-dashboard {
  display: flex;
  padding: 10px;
  margin: 10px;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.column-one {
  width: 100%;
  padding: 10px;
  margin-left: 10px;
}

.column-two {
  width: 20%;
  padding: 10px;
  margin-left: 10px;
}

.count-container {
  width: 100%;
}