* {
  padding: 0px;
  margin: 0px;
}

.container-dashboard {
  display: flex;
  flex-direction: column;
}

.container-header {
  display: flex;
  align-items: center;
  padding: 20px;
  flex-direction: row;
}

.title {
  margin: 0 20px;
  padding: 0;
}

.container-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.column-dashboard {
  display: flex;
  padding: 10px;
  margin: 10px;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.column-one {
  width: 100%;
  padding: 10px;
  margin-left: 10px;
}

.column-two {
  width: 20%;
  padding: 10px;
  margin-left: 10px;
}

.count-container {
  width: 100%;
}

input[type="search"] {
  width: 50%;
  text-align: left;
  font-size: 16px;
  padding: 12px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

button {
  background-color: #d11d27;
  color: white;
  text-align: center;
  padding: 14px 20px;
  font-size: 16px;
  margin: 10px auto;
  display: block;
  border: none;
  cursor: pointer;
  width: 50%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

button:hover {
  opacity: 0.8;
}