<!doctype html>
<html lang="en">
{% load static%}
{% block content %}

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <title>
        Dashboard
    </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'StudentTrackingSystemApp/main.css' %}">
    <link rel="stylesheet" href="{% static 'StudentTrackingSystemApp/dashboard.css' %}">
    <noscript>You need JavaScript to run this application</noscript>
    <link rel="apple-touch-icon" href="/logo192.png" />
    <link rel="manifest" href="/manifest.json" />
    <title>React App</title>
    <link rel="stylesheet" href="{% static '\build_table\build-table\static\css\main.cf0c3cd8.chunk.css' %}">
</head>

<body>
    <span style="font-size:30px;cursor:pointer;color: white;" onclick="openNav()">&#9776; </span>
    <div class = "main"> 
        <div class="container-dashboard">
            <div class="column-dashboard column-one">
                <div></div>
                <h2>Master List</h2>
                <div id="root"></div>
            </div>
            <div class="column-dashboard column-two">
                <h1>Dashboard</h1>
            </div>
            <div class="column-dashboard column-three">
                <div></div>
                <h2>Counts</h2>
                <form method="POST" style="background-color: transparent;">
                {% csrf_token %}
                    <div class="container">
                        <label for="semester">Semester:</label>
                        <input type="search" id="semester" name="semester">
                        <label for="start_date">Start Date:</label>
                        <input type="search" id="start_date" name="start_date"><br><br>
                        <button type="submit">Query</button>
                    </div>
                </form>
                

                <!-- wow! this isn't cool -->
                <p>Count of students currently in coop during above semester: {{ coopSemester }}</p>
                <p>Count of students enrolled during above semester: {{ totalSemester }}</p>
                <p>Count of students currently in coop at above start date: {{ coopStartDate }}</p>
                <p>Count of students enrolled from above start date: {{ totalStartDate }}</p>
                <p>Count of students in each rank during above semester: {{ rankSemester }}</p>
            
            </div>
        </div>
    </div>

    <div id = "mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{% url 'dashboard' %}" style="text-decoration:none">Dashboard </a>
        <a href="{% url 'settings' %}" style="text-decoration:none"> Settings </a>
        <a href="{% url 'logout' %}" style="text-decoration:none"> Logout </a>
    </div>
    
    
    <script>
    function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    }
    
    function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
    }
    </script>

</body>

<noscript>You need to enable JavaScript to run this app.</noscript>

<script>!function (e) {
        function r(r) {
            for (var n, a, i = r[0], c = r[1], l = r[2], s = 0, p = []; s < i.length; s++)a = i[s],
                Object.prototype.hasOwnProperty.call(o, a) && o[a] && p.push(o[a][0]), o[a] = 0; for (n in c)
                Object.prototype.hasOwnProperty.call(c, n) && (e[n] = c[n]); for (f && f(r); p.length;)p.shift()();
            return u.push.apply(u, l || []), t()
        } function t() {
            for (var e, r = 0; r < u.length; r++) {
                for (var t = u[r], n = !0, i = 1; i < t.length; i++) { var c = t[i]; 0 !== o[c] && (n = !1) } n && (u.splice(r--, 1), e = a(a.s = t[0]))
            }
            return e
        } var n = {}, o = { 1: 0 }, u = []; function a(r) {
            if (n[r]) return n[r].exports; var t = n[r] = { i: r, l: !1, exports: {} };
            return e[r].call(t.exports, t, t.exports, a), t.l = !0, t.exports
        } a.e = function (e) {
            var r = [], t = o[e]; if (0 !== t) if (t) r.push(t[2]);
            else {
                var n = new Promise((function (r, n) { t = o[e] = [r, n] })); r.push(t[2] = n); var u, i = document.createElement("script");
                i.charset = "utf-8", i.timeout = 120, a.nc && i.setAttribute("nonce", a.nc), i.src = function (e) {
                    return a.p + "static/js/" + ({}[e] || e) + "." + { 3: "84a89b1c" }[e] + ".chunk.js"
                }(e);
                var c = new Error; u = function (r) {
                    i.onerror = i.onload = null, clearTimeout(l);
                    var t = o[e]; if (0 !== t) {
                        if (t) {
                            var n = r && ("load" === r.type ? "missing" : r.type)
                                , u = r && r.target && r.target.src; c.message = "Loading chunk " + e + " failed.\n(" + n + ": " + u + ")"
                                    , c.name = "ChunkLoadError", c.type = n, c.request = u, t[1](c)
                        } o[e] = void 0
                    }
                }; var l = setTimeout((function () { u({ type: "timeout", target: i }) }), 12e4);
                i.onerror = i.onload = u, document.head.appendChild(i)
            } return Promise.all(r)
        }, a.m = e, a.c = n, a.d = function (e, r, t) {
            a.o(e, r) ||
                Object.defineProperty(e, r, { enumerable: !0, get: t })
        }, a.r = function (e) { "undefined" != typeof Symbol && Symbol.toStringTag && Object.defineProperty(e, Symbol.toStringTag, { value: "Module" }), Object.defineProperty(e, "__esModule", { value: !0 }) }, a.t = function (e, r) {
            if (1 & r && (e = a(e)), 8 & r)
                return e; if (4 & r && "object" == typeof e && e && e.__esModule) return e; var t = Object.create(null); if (a.r(t), Object.defineProperty
                    (t, "default", { enumerable: !0, value: e }), 2 & r && "string" != typeof e) for (var n in e) a.d(t, n, function (r) { return e[r] }.bind(null, n));
            return t
        }, a.n = function (e) { var r = e && e.__esModule ? function () { return e.default } : function () { return e }; return a.d(r, "a", r), r }, a.o = function (e, r) { return Object.prototype.hasOwnProperty.call(e, r) }, a.p = "/", a.oe = function (e) { throw console.error(e), e };
        var i = this["webpackJsonpswe4103-react"] = this["webpackJsonpswe4103-react"] || [], c = i.push.bind(i); i.push = r, i = i.slice(); for (var l = 0; l < i.length; l++)r(i[l]);
        var f = c; t()
    }([])
</script>


<script src="{% static '\build_table\build-table\static\js\2.064bba39.chunk.js'%}">
</script>
<script src="{% static '\build_table\build-table\static\js\main.acaa51cb.chunk.js'%}"></script>



</html>
{% endblock content%}