*{
  padding:0px;
  margin: 0px;
}
.container-dashboard{
  display:flex;
  flex-direction: column;
}
.container-header{
  display:flex;
  align-items: center;
  padding:20px;
  flex-direction: row;
}
.title{
  margin:0 20px;
  padding:0;
}
.homepage-button{
  width:100%
}
.container-content{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.column-dashboard{
  display:flex;
  padding:0px;
  margin:0px; 
  flex-direction: column;
  align-items: center;
}

.column-two{
  width: 40%;
}
.count-container{
  width:100%;
}


input[type=search] {
  width: 50%;
  text-align: left;
  font-size: 16px;
  padding: 12px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 25px;
}