*{
  padding:0px;
  margin: 0px;
}
.container-dashboard{
  display:flex;
  flex-direction: column;
}
.container-header{
  display:flex;
  align-items: center;
  padding:20px;
  flex-direction: row;
}
.title{
  margin:0 20px;
  padding:0;
}
.homepage-button{
  width:100%
}
.container-content{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.column-dashboard{
  display:flex;
  padding:0px;
  margin:0px; 
  flex-direction: column;
  align-items: flex-start;
}

.count-container{
  width:100%;
}