@font-face {
    font-family: 'Avenir';
    src: local('Abc'),
         url('../fonts/avnir_sv/AvenirLTStd-Medium.otf');
  }

body{
    font-family:"Avenir";
    background-color: #5B6770;
    margin: 0;
    padding: 0;
}

h1{
    color:white;
    text-align: center;
    padding: 50px 0 0 ;
}

h2{
    color:white;
    text-align: center;
    padding: 50px 0 0 ;
}


button {
    background-color: #F00000;
    color: white;
    text-align: center;
    padding: 14px 20px;
    font-size:16px;
    margin: 10px auto;
    display: block;
    border: none;
    cursor: pointer;
    width: 50%;
    border-radius: 20px;
}

button:hover{
    opacity: 0.8;
}



